<!-- templates/base.html -->

{% load static %}

<html>
    <head>
        <title>Django blog</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="nav-left">
                <a href="{% url 'home' %}">Home</a> | <a href="{% url 'about' %}">About</a>
                <h1><a href="{% url 'home' %}">Blog with Django</a></h1>
            </div>
            <div class="nav-right">
                <a href="{% url 'post_new' %}">+ New Blog Post</a>
            </div>
        </header>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>